/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family:'Open Sans';
  background: #f4f4f4;
}
  
.container {
    width: 100%;
    max-width: 1170px;
    margin:auto;
}

/* FIN GENERAL */

/* HEADER */

#imgcheckbox {
  height: 30px;
}
  
header{
  top: 0;
  left: 0;
  width: 100%;
  height: 116px;
  background:transparent;
  position:fixed;
  transition: background 0.2s ease-in-out;
}

header.scroll {
  background: white;
}


.logo{
  width:192px;
  height:70px;
  float: left;
  padding: 5px 30px;
}

.logo img{
    opacity:1;
    width:192px;
    height:70px;
    display:block;
    margin: auto;
    }

header {
display: flex;     
  }

#btn-menu {
display: none;
}

header label {
  display: none;
  width:30px;
  height:30px;
  padding:  10px;
  border-right: 1px solid #ffffff;
  float: right;
  font-size: 28px;
  margin: 20px;
  cursor: pointer;
 }

header label:hover{
  cursor: pointer;
  background:#FAC419;
  margin: 20px;
}

.menu ul {
  margin: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu li a {
  display: flex;
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 10px; 
}

.menu li:hover {
  background: #FAC419;
  width: 102px;
  height: 42px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu li {
  /* border-right: 1px solid #ffffff; */
}

/* FIN HEADER */

/* HERO */

.hero {
  width: 100%;
  height: 486px;
  padding-top: 116px;
  background-image: url(../assets/hero.png);
  background-position: center;
  background-size: cover;
}

.containerhero {
  text-align: end;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  padding-right: 60px ;
  
}

.hero-content {
   color: #000000;
   
   padding-top: 100px;
  
}

.hero-content h1 {
  color: #ffffff;
  font-size: 50px;
  text-transform: uppercase;
}

.hero-content p {
  color: #000000;
  padding-top: 30px;
  font-weight: bold;
  margin-right: 110px;
  margin-bottom: 70px;
}

.hero-content a {
  margin-right: 180px;
  text-decoration: none;
}

.hero-content .btn-view { 
  background: linear-gradient(90deg, #F00000 0%, #DC281E 100%);
  border-radius: 100px;
  padding: 20px 50px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.hero-content .btn-view:hover{
  background: #F00000;
  background: linear-gradient(90deg, #B90000 179.8%, #F40D00 279.8%);
}

/* FIN HERO */

/* HISTORY */

  .history{
    padding-top: 116px;
  }


  .history > .container {
    margin: 30px auto;
  }

  .historycontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    line-height: 200%;
  }

.history h2 {
  text-align: center;
  font-size: 28px;
}

.historycontent h3{
  padding-left: 8px;
  font-size: xx-large;
  font-weight: bolder;
}

.history1{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center;
  place-items: center;
  width: 100%;
  padding-bottom: 30px;
  margin-top: 30px;
  border-left: 3px solid blue;
  margin-left: 1px;
  justify-content: space-around;

}

.historyp1{
max-width: 80%;
}

.year1{
  padding-bottom: 20px;
  padding-top: 20px;
  display: inline-flex;
  align-self: center;
  color: blue;
}

.historyp1> h4{
  color: blue;
  font-weight: bolder;
  padding-bottom: 20px;
  font-size: 18px;
}

.history2{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center;
  place-items: center;
  width: 100%;
  padding-bottom: 30px;
  border-right: 3px solid red;
  margin-right: 1px;
  justify-content: space-around;

}


.historyp2{
max-width: 80%;
order: 1;
}

.year2{
  padding-top: 20px;
  padding-bottom: 20px;
  order: 2;
  display: inline-flex;
  align-self: center;
  color: red;
}

.historyp2> h4{
  color: red;
  font-weight: bolder;
    padding-bottom: 20px;
    font-size: 18px;
}

.history3{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center;
  place-items: center;
  width: 100%;
  padding-bottom: 30px;
  margin-left: 1px;;
  border-left: 3px solid #FAC419;
  justify-content: space-around;
}

.historyp3{
max-width: 80%;
}

.year3{
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-flex;
  align-self: center;
  color: #FAC419;
}

.historyp3> h4{
  color: #FAC419;
  font-weight: bolder;
    padding-bottom: 20px;
    font-size: 18px;
}

/* FIN HISTORY */

/* VIDEO */

.video {
width: 100%;
background-color: #FAC419;
margin-top: 116px;

}

.video > .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.videos {
  width: 100%;
  max-width: 570px;
  display: flex;
  
}

.videos iframe {
  width: 100%;
}

.youtube {
  text-align: center;
  max-width: 570px;
  margin: auto;
  padding: 0px 10px 40px 10px;
}

.youtube h2{
  color: #ffffff;
  font-size: 25px;
  padding-bottom: 40px;
}

.youtube a{
  text-decoration: none;
  padding-bottom: 15px;
} 

.youtube .btn-view{
  background: linear-gradient(90deg, #F00000 0%, #DC281E 100%);
  border-radius: 100px;
  padding: 20px 50px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.youtube .btn-view:hover{
  background: #F00000;
  background: linear-gradient(90deg, #B90000 179.8%, #F40D00 279.8%);
}

/* FIN VIDEO */

/* FOOTER */

.Footer {
  background: #2C1C19;
    width: 100%;
    height: 60px;
}

.Footer p{
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
  font-size: 12px;
}

/* FIN FOOTER */

@media all and (max-width:768px) {
  

  /* HEADER */
  header label {
    display: block;
  }
  .menu {
    position: absolute;
    top: 116px;
    background: yellow;
    width: 70%;
    right:-72%;
    transition: all 0.5s;
  }
  .menu ul{
    flex-direction: column;
  } 

  #btn-menu:checked ~ .menu {
    right: 0;
  }

  /* FIN HEADER */

  /* HERO */

  .hero{
    background-position: right;
  }

  .hero-content{
    text-align: center;
    justify-content: center;
    
  }

  .hero-content p{
    margin-right: -20px;
  }

  .hero-content .btn-view{
    padding:10px 30px ;
    text-align: center;
    margin-right: -30px
  }

  /* FIN HERO */

  /* HISTORY */

.historyp1,.historyp2,.historyp3{
     max-width: 95%; 
}

.history1,.history2{
  margin-bottom: 30px;
}

/* FIN HISTORY */

}


