.header {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
}

.header h2 {
    margin: 0;
}

.header__logo a {
    display: flex;
    align-items: center;
}

.header__logo__image {
    width: 50px;
    padding-right: 10px;
}

.header__menu__desktop > ul {
    list-style: none;
    display: flex;
}

.header__menu__desktop > ul a:not(:last-child) {
    padding-right: 1rem;
}

.header__menu__desktop > ul a:hover {
    color: #2196f3;
}

.header__menu__mobile {
    display: none;
}

button.header__menu__mobile__icon {
    padding: 15px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

button.header__menu__mobile__icon:hover {
    background-color: #2196f31f;
    border-radius: 50%;
}

.header__menu__mobile__items {
    position: absolute;
    left: 0;
    top: 77px;
    width: 100%;
    z-index: 1;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 10px 20px 0px;
    min-height: 40vh;
}

.header__menu__mobile__items > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__menu__mobile__items > ul li {
    padding: 15px;
    width: 100%;
}

@media only screen and (max-width: 768px)  {
    .header__menu__desktop {
        display: none;
    }
    .header__menu__mobile {
        display: block;
    }
}

a {
    text-decoration: none;
    color: black;
}